* {
    font-family: roboto;
    margin: 0;
}

body{
    margin: 0;
    background: #F0F1F0;
}

nav img {
    display: block;
    margin: 0 auto;
    max-width: 4.375em;
    max-height: 1.75em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

}

nav{
    display: block;
    background: #675C52;

}

h1{
    margin-top: 1em;
    text-align: center;
}

h2{
    position: absolute;
}

article {
    width: 20em;
    border: 1px solid black;
    padding: 1em;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    background: #FEFFFE;
}

article *:nth-child(4){
    padding-top: 1.3em;
    display: block;

    max-width: 4.375em;
    max-height: 1.75em;

}

article img {
    width: 100%;
    width: calc(100% + 2em);
    margin-left: -1em;
    margin-top: -1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;


}

footer{
    text-align: center;
}

